body { 
      background-color: #ecf8f8;
      color: #40407A;
      font-family: "Gelasio", Arial, sans-serif;
      font-size: 1.2em;
      margin: 0;
      padding: 0;  
}
#wrapper { 
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      background-color: white;
}
header { 
     background-image: url(https://somenewtouse-images-012723.netlify.app/boxing_glove_banner_bg_edit1.png);
     background-position: center left;
     background-repeat: no-repeat;
     background-size: 355px 180px;
     background-color: royalblue;        border-bottom: solid 1px royalblue;
     border-top: solid 0.5px royalblue;
}
h1 {  line-height: 200%;
      font-family: "Chango", Arial, sans-serif;
      text-align: center;
      color: white;
      text-shadow: 3px 3px navy;
      }
nav { font-weight: bold; 
      text-align: center;
      background-color: silver;
      line-height: 25%;
      border: solid silver;
}
nav a { text-decoration: none; 
        color: royalblue;
        text-shadow: .5px .5px black;}
main { text-indent: 5%;}
.studio { font-style: italic; }
footer { 
      background-color: silver;
      font-size: .60em;
      font-style: italic;
      text-align: center; 
      color: royalblue;
      line-height: 300%;  
}
h4 {
      font-weight: 900;
      text-shadow: .25px .25px black;
}
main {
      padding-left: 30px; 
      padding-right: 30px;
      padding-top: 15px;
}
img {
      padding: 5px;
}
